<!-- <mat-sidenav-container>

  <mat-sidenav [@openCloseSidenav]="isOpen ? 'open' : 'closed'" mode="side" opened role="navigation">
    <mat-nav-list> -->
      <!-- Place nav links here

      <button type="button" aria-label="Toggle nav" mat-icon-button (click)="toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [@openCloseSidenavContent]="isOpen ? 'open' : 'closed'">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container> -->
<!-- <mat-expansion-panel [expanded]="panelOpenState">

  <mat-expansion-panel-header>
      <mat-panel-title>
          TITLE
      </mat-panel-title>
  </mat-expansion-panel-header>

  <p>BODY</p>
</mat-expansion-panel>

<button mat-raised-button (click)="togglePanel">TOGGLE</button> -->
<!--   -->
<app-demo></app-demo>

